learningQGIS/QGIS-Sample-Data-master/
Module_1/Module_1_1/Considering_Spatial_Data_Exercise_Data_2017/
Module_1/Module_1_2/Displaying_Data_Exercise_Data/
Module_1/Module_1_3/Working_with_Spatial_Data_Exercise_Data/
Module_1/Module_1_4/Leveraging_the_What_Exercise_Data/
Module_2/Module_2_1/Leveraging_the_Where/
Module_2/Module_2_2/Working\ with\ Tables/
Module_2/Module_2_3/Exercise_Data/
Module_2/Module_2_4/Exercise_Data/
Module_2/Module_2_5/Exercise_Data/
Module_3/Module_3_1/Exercise_Data/
Module_3/Module_3_2/Exercise_02_data/
Module_3/Module_3_2/project/
Module_3/Module_3_3/Exercise_data/
Module_3/Module_3_3/project/
Module_3/Module_3_4/Analyzing_patterns_Exercise_data/
Module_3/Module_3_4/project/
